<div class="app-redstar-calculator__wrap">

  <div class="app-redstar-calculator__title">RedStar Results Calculator </div>

  <input id="file-upload"
         type="file"
         accept=".csv"
         multiple
         class="custom-file-input"
         (change)="filesAppear($event)" />
  <label for="file-upload">Select csv files</label>


  <div class="result" *ngIf="calculatedResults.rows.length">

    <table class="app-redstar-calculator__table">
      <tr>
        <td>Day</td>
        <td>reg/finished</td>
        <td>limits</td>
        <td>Sum</td>
        <td>Bonus</td>
      </tr>
      <tr [style.font-size.px]="18">
        <td><b>Total</b></td>
        <td [style.text-align]="'center'">{{calculatedResults.regCount}} / {{calculatedResults.finishCount}}</td>
        <td>{{calculatedResults.regByLimitString}}</td>
        <td class="app-redstar-calculator__sum" [ngClass]="{'app-redstar-calculator__sum_red' : calculatedResults.sum < 0}">{{calculatedResults.sum | number : '1.2-2'}} {{calculatedResults.currency}}</td>
        <td class="app-redstar-calculator__sum" [ngClass]="{'app-redstar-calculator__sum_red' : calculatedResults.bonus < 0}">{{calculatedResults.bonus | number : '1.2-2'}} {{calculatedResults.currency}}</td>
      </tr>
      <tr *ngFor="let day of calculatedResults.dayStats">
        <td>{{day.date | date:'MMM d'}}</td>
        <td [style.text-align]="'center'">{{day.regCount}} / {{day.finishCount}}</td>
        <td>{{day.regByLimitString}}</td>
        <td class="app-redstar-calculator__sum" [ngClass]="{'app-redstar-calculator__sum_red' : day.sum < 0}">{{day.sum | number : '1.2-2'}} {{day.currency}}</td>
        <td class="app-redstar-calculator__sum" [ngClass]="{'app-redstar-calculator__sum_red' : day.bonus < 0}">{{day.bonus | number : '1.2-2'}} {{day.currency}}</td>
      </tr>
    </table>

  </div>

</div>


